<!DOCTYPE html>
<html>
<head>
	<title>My AI App - Home</title>
	<link rel="stylesheet" type="text/css" href="\static\style.css">
</head>
<body>
	<nav>
      <ul>
			<li><a href="{{ url_for('index') }}"><img src="\static\images\home-icon.jpg" alt="Home"><span>Home</span></a></li>
		  	<li><a href="{{ url_for('aiabout') }}"><span>AI model</span></a></li>
		  	<li><a href="{{ url_for('web') }}"><span>Web design info</span></a></li>
            <li><a href="{{ url_for('about') }}"><img src="\static\images\about-icon.jpg" alt="About"><span>About</span></a></li>
      </ul>
	</nav>

	<h1>Let`s talk about AI</h1>
    <p>
    Deep Learning is a type of machine learning that imitates the way humans gain certain types of knowledge, and it got more popular over the years compared to standard models.
    </p>
    <img src="\static\aiabout\image001.jpg" alt="image001" width="200" height="150">
    <p>
      While traditional algorithms are linear, Deep Learning models, generally Neural Networks, are stacked in a hierarchy of increasing complexity and abstraction (therefore the “deep” in Deep Learning).
    </p>
    <p>
    Neural Networks are based on a collection of connected units (neurons), which, just like the synapses in a brain, can transmit a signal to other neurons, so that, acting like interconnected brain cells, they can learn and make decisions in a more human-like manner.
    </p>
    <p>
    Today, Deep Learning is so popular that many companies want to use it even though they don’t fully understand it. Often data scientists, first have to simplify these complex algorithms for the Business, and then explain and justify the results of the models, which is not always simple with Neural Networks. I think the best way to do it is through visualization.
    </p>
    <p>
    I will present some useful Python code that can be easily applied in other similar cases (just copy, paste, run) and walk through every line of code with comments so that you can replicate the examples.
    </p>
    <p>
      In particular, I will go through:

Environment Setup, tensorflow vs pytorch.
Artificial Neural Networks breakdown, input, output, hidden layers, activation functions.
Deep Learning with deep neural networks.
Model design with tensorflow/keras.
Visualization of Neural Networks with python.
Model training & testing.
</p>

</body>
</html>
